footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bord-color);
}

.footer__adress-wrapper {
  margin-right: 70px;
}

.container-footer {
  display: flex;
  align-items: center;
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  display: inline-block;
  margin-top: 0;
  padding-top: auto;
  margin-bottom: 20px;
  padding-right: auto;
}

.footer__logo-color {
  font-weight: bold;
  color: var(--white-color);
}

.adress__list {
  margin: 0px;
}

.adress__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  display: block;
  margin: 0;
}

.adress__el:not(:last-child) {
  margin: 0 0 9px;
}

.adress__contacts-link {
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  text-decoration: none;

  margin: 0;

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-flex {
  display: flex;
}

.footer__social-wrapper {
  margin-right: 93px;

  & .team__social-list {
    display: flex;
  }
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: auto;
}

.footer__social-link {
  display: flex;
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social);
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  .team__social-list-el:hover &,
  .team__social-list-el:focus & {
    background-color: var(--accent-color);
  }
}

.footer__social-icon {
  width: 20px;
  height: 20px;
}

.footer__social-link .footer__social-icon {
  fill: var(--white-color);
}

.email-holder__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}

.email-holder__text {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.icon-send {
  margin-left: 10px;
  fill: var(--white-color);
}

.footer__btn {
  display: inline-flex;
  align-items: center;
}
