:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --bord-color: #2f303a;
  --bg-color-team: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --footer-social: rgba(255, 255, 255, 0.1);
}
